@use "../mixin" as mxn;

.cars-list {
  li {
    scroll-snap-align: center;
  }
  &__card {
    @include mxn.flex("column", "nowrap");
    min-width: 300px;
    margin-top: -40px;
    position: relative;
    box-shadow: var(--card-shadow);
    background: var(--break-white);
    border-radius: var(--card-radius);
  }
  &__title {
    h2 {
      color: var(--blue-black);
      font-size: var(--font-size-large);
      font-weight: var(--font-weight-bold);
    }
    padding: 8px 16px;
  }
  &__features {
    li {
      @include mxn.grow;
      min-width: 40%;
    }
    @include mxn.flex;
    gap: 8px;
    padding: 16px 8px;
  }
  &__footer {
    @include mxn.flex;
    padding: 24px;
    align-items: flex-end;
    justify-content: space-between;
  }
  &__price {
    span {
      &:first-child,
      &:last-child {
        font-style: italic;
        color: var(--grey-text);
        font-size: var(--font-size-tiny);
      }
      &:last-child,
      &:nth-child(2) {
        line-height: 1;
      }
      &:nth-child(2) {
        color: var(--blue-logo);
        transform: translateX(-4px);
        font-size: var(--font-size-huge);
        font-weight: var(--font-weight-bold);
      }
    }
    @include mxn.flex("column", "nowrap");
  }
  &__image {
    div {
      min-height: 220px;
      border-radius: var(--card-radius);
    }
  }
  @include mxn.flex("row", "nowrap");
  gap: 16px;
  overflow: auto;
  padding: 24px;
  margin-top: -24px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  @media (hover: hover) {
    overflow: hidden;
  }
}

.slider {
  &__arrows {
    --icon-color: var(--break-white);
    & > div {
      &:first-child {
        left: 8px;
      }
      &:last-child {
        right: 8px;
      }
      &.hide {
        opacity: 0;
      }
      @include mxn.black-alpha(50%);
      top: 50%;
      padding: 8px;
      display: none;
      cursor: pointer;
      position: absolute;
      border-radius: 50px;
      transform: translateY(-50%);
      @media (hover: hover) {
        display: block;
      }
    }
  }
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}
