@use "../mixin" as mxn;

.footer {
  --logo-height: calc(24px + 2vmin);
  --logo-width: calc(102px + 5vmin);
  &__logo {
    @include mxn.flex;
    justify-content: center;
    margin: 0 auto 16px auto;
    max-width: var(--logo-width);
    min-width: var(--logo-width);
    max-height: var(--logo-height);
    min-height: var(--logo-height);
  }
  p {
    text-align: center;
    font-size: var(--font-size-tiny);
  }
  @include mxn.flex;
  padding-top: 14vmin;
  padding-bottom: 6vmin;
  background-size: cover;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: url("~../../../assets/images/footer_bg.svg");
}
