@use "../mixin" as mxn;

.button {
  --btn-radius: 50px;
  --btn-height: 40px;
  --btn-color: var(--break-white);
  --btn-bg-color: var(--blue-logo);
  &:hover,
  &:focus,
  &:focus-visible,
  &:focus-within {
    --border-opacity: 1;
  }
  &:focus,
  &:focus-within,
  &:focus-visible {
    --border-style: dashed;
    outline: none;
  }
  &:active {
    opacity: 0.8;
  }
  &::before {
    transition: 0.08s 0.1s;
  }
  span {
    line-height: var(--btn-height);
    font-family: var(--font-family);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-semi-bold);
  }
  @include mxn.flex;
  @include mxn.border;
  --border-opacity: 0;
  --border-spacing: 2px;
  --border-color: var(--btn-color);
  border: none;
  cursor: pointer;
  padding: 0 16px;
  user-select: none;
  white-space: nowrap;
  text-decoration: none;
  color: var(--btn-color);
  min-height: var(--btn-height);
  background: var(--btn-bg-color);
  border-radius: var(--btn-radius);
}
