@use "../mixin" as mxn;

.button {
  &:hover,
  &:focus,
  &:focus-visible,
  &:focus-within {
    --border-opacity: 1;
  }
  &:focus,
  &:focus-within,
  &:focus-visible {
    --border-style: dashed;
    outline: none;
  }
  &:active {
    opacity: 0.8;
  }
  &::before {
    transition: 0.08s 0.1s;
  }
  span {
    font-family: var(--font-family);
    font-size: var(--font-size-medium);
    line-height: var(--btn-height, 40px);
    font-weight: var(--font-weight-semi-bold);
  }
  @include mxn.flex;
  @include mxn.border;
  --border-opacity: 0;
  --border-spacing: 2px;
  --border-color: var(--btn-color, var(--break-white));
  border: none;
  cursor: pointer;
  padding: 0 16px;
  user-select: none;
  white-space: nowrap;
  text-decoration: none;
  min-height: var(--btn-height, 40px);
  border-radius: var(--btn-radius, 50px);
  color: var(--btn-color, var(--break-white));
  background: var(--btn-bg-color, var(--blue-logo));
}
