@use "../mixin" as mxn;

.feature {
  &__block {
    @include mxn.flex("column", "nowrap");
    @include mxn.center;
    gap: 4px;
    padding: 16px 0;
    border-radius: var(--card-radius);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  }
  &__text {
    span {
      &:first-child {
        font-weight: var(--font-weight-bold);
      }
      color: var(--grey-text-2);
    }
    @include mxn.flex;
    gap: 4px;
  }
}
