@use "../mixin" as mxn;

.logo {
  svg {
    &.blue {
      fill: var(--blue-logo);
    }
    &:white {
      fill: var(--white);
    }
    top: 0;
    left: 0;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
  }
  @include mxn.flex;
  @include mxn.center;
  min-height: 100%;
  min-width: 100%;
  position: relative;
}
