@use "../mixin" as mxn;

.switch {
  --label-transform: translateY(-96%);
  --label-font-size: var(--font-size-tiny);
  label {
    @include mxn.grow;
    cursor: pointer;
    min-height: 100%;
  }
  &__label {
    top: 50%;
    user-select: none;
    font-style: italic;
    position: absolute;
    pointer-events: none;
    transition: all 0.2s;
    pointer-events: none;
    will-change: transform;
    color: var(--label-color);
    left: var(--input-pad-left);
    font-size: var(--label-font-size);
    transform: var(--label-transform);
  }
  &__value {
    bottom: 8px;
    position: absolute !important;
    color: var(--blue-black);
    left: var(--input-pad-left);
    font-family: var(--font-family);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
  }
  &__lever {
    &:after {
      content: "";
      left: -1px;
      top: -3px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      display: inline-block;
      background-color: #c6cdd2;
      transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease,
        transform 0.1s ease;
    }
    content: "";
    top: 50%;
    right: 8px;
    width: 36px;
    height: 14px;
    margin-right: 16px;
    position: absolute;
    border-radius: 15px;
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-50%);
    transition: background 0.3s ease;
    background-color: rgba(0, 0, 0, 0.38);
  }
  input {
    &[checked] {
      & + .switch__lever {
        &:after {
          left: 18px;
          background-color: rgba(0, 189, 157, 0.8);
        }
        background-color: rgba(0, 189, 157, 0.4);
      }
    }
    position: absolute;
    transform: scale(0);
  }
  &:hover {
    --border-opacity: 1;
    --input-shadow: none;
    --input-transition: all 0.1s 0.04s;
    &:before {
      transition: opacity 0.1s 0.04s;
    }
  }
  &:focus,
  &:focus-within {
    --border-width: 2px;
    --input-shadow: none;
    --border-opacity: 0.6;
    --border-style: dashed;
  }
  @include mxn.flex;
  @include mxn.border;
  @include mxn.black-alpha(3%);
  --border-opacity: 0;
  --border-spacing: 1px;
  --border-color: var(--emerald);
  --border-radius: var(--input-radius);
  z-index: 1;
  position: relative;
  box-shadow: var(--input-shadow);
  border-radius: var(--input-radius);
  transition: var(--input-transition);
  min-height: var(--container-input-height);
  max-height: var(--container-input-height);
}
