@use "./mixin" as mxn;

html,
body,
article,
section,
p {
  display: flex;
  flex-direction: column;
}

body,
html {
  overflow: hidden;
  max-height: 100vh;
  touch-action: none;
  color: var(--black);
  text-size-adjust: none;
  background: var(--white);
  overscroll-behavior-y: none;
  overscroll-behavior-x: contain;
  text-rendering: optimizeLegibility;
}

body,
#root {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0%;
}

html {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  font-size: 62.5%;
}

body {
  line-height: 1.618;
  color: var(--black);
  letter-spacing: 0.04rem;
  background: var(--white);
  font-family: var(--font-family);
  font-size: calc(12px + 0.6vmin);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: var(--font-weight-regular);
}

ul {
  margin: 0;
  list-style: none;
}

@media (hover: hover) {
  *::-webkit-scrollbar {
    background: transparent;
    height: 8px;
    width: 8px;
  }
  *::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 0%, 0.3);
    border-radius: 50px;
    border-right: 3px solid rgba(255, 255, 255, 0.05);
  }
  * {
    scrollbar-color: hsla(0, 0%, 0%, 0.3) rgba(255, 255, 255, 0.05);
    scrollbar-width: thin;
  }
}

/************ ADAPTIVE IMAGES ***************/

*[class*="adaptive-img-"] {
  overflow: hidden;
  position: relative;
}

*[class*="adaptive-img-"] > img {
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  bottom: 0;
  padding: 0;
  border: none;
  margin: auto;
  display: block;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  position: absolute;
  box-sizing: border-box;
}

.adaptive-img-cover > img {
  object-fit: cover;
}

.adaptive-img-contain > img {
  object-fit: contain;
}

/************ OTHER ***************/

.scrollable {
  overflow: auto;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1340px;
}

.sections {
  gap: 16vmin;
  display: flex;
  flex-direction: column;
}

.fullscreen {
  top: 0;
  left: 0;
  z-index: 100000;
  position: fixed;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.bg-effect-details {
  background-repeat: no-repeat;
  background-color: var(--blue-bg);
  background-position: center 640px;
  // background-image: url("~../../../assets/images/bg_effect_details.svg");
}

.bg-effect-home {
  background-repeat: no-repeat;
  background-color: var(--blue-bg);
  background-position: center 640px;
  background-image: url("~../../../assets/images/bg_effect_home.svg");
}

.villa-stuff-display {
  .villa-stuff {
    @include mxn.grow(2);
    height: 3000px;
    background: indianred;
  }
  .form-aside {
    @include mxn.grow;
    @include mxn.flex("column", "nowrap");
    top: 16px;
    z-index: 1000;
    min-width: 100%;
    position: sticky;
    box-shadow: var(--card-shadow);
    max-height: var(--aside-height);
    border-radius: var(--card-radius);
    bottom: calc((var(--aside-height) - 56px) * -1);
    @media (min-width: 1100px) {
      bottom: initial;
      min-width: initial;
    }
  }
  @include mxn.flex;
  gap: 16px;
  position: relative;
}
