@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@mixin grow($val: 1) {
  flex-grow: #{$val};
  flex-shrink: 0;
  flex-basis: 0%;
}

@mixin flex($direction: row, $wrap: wrap) {
  display: flex;
  flex-wrap: #{$wrap};
  flex-direction: #{$direction};
}

@mixin center {
  align-items: center;
  justify-content: center;
}

@mixin black-alpha($alpha: 100%) {
  background-color: rgb(0 0 0 / #{$alpha});
}

@mixin border {
  --border-opacity: 1;
  --border-width: 1px;
  --border-spacing: 0px;
  --border-style: solid;
  --border-color: var(--black);
  & > * {
    z-index: 3;
    position: relative;
  }
  &:before {
    content: "";
    z-index: 2;
    position: absolute;
    pointer-events: none;
    top: var(--border-spacing);
    left: var(--border-spacing);
    right: var(--border-spacing);
    bottom: var(--border-spacing);
    opacity: var(--border-opacity);
    border-radius: var(--btn-radius);
    border: var(--border-width) var(--border-style) var(--border-color);
  }
  z-index: 1;
  position: relative;
}

@mixin placeholder {
  &:before {
    content: "";
    position: absolute;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    height: 100%;
    width: 100%;
    z-index: 1;
    animation: shimmer 1s infinite;
  }
  overflow: hidden;
  position: relative;
}
